<% include partials/_header %>

<div class="container">
    <div class="row mt-10">
        Presidente y vicepresidente
        <img src="resultados-tse-696x385.jpeg"/>
    </div>
    <div class="row mt-10">
        Diputados Listado Nacional
        <img src="DiputadosListadoNacional.jpg"/>
    </div>
    <div class="row mt-10">
        Diputados listado Distrital
        <img src="DiputadosListadoDistrital.jpg"/>
    </div>
    <div class="row mt-10">
        Alcalde
        <img src="Alcalde.jpg"/>
    </div>
    <div class="row mt-10">
    Diputados Parlamento
        <img src="DiputadosParlamento.jpg"/>
    </div>
</div>

<% include partials/_footer %>